<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>
      Home
    </ion-title>
    <ion-buttons end>
    <button ion-button (click)="addNewTaskClick()">Add Task</button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
Welcome to My First Ionic App
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
  <button ion-button (click)="addNewProduct()">Add New product</button>
  



<!-- <ion-list>
  <ion-item *ngFor="let task of taskList">{{task.taskname}}</ion-item>
</ion-list> -->

<ion-list reorder="true">
    <ion-item-sliding *ngFor="let product of productList">
      <ion-item >{{product.name}}</ion-item>
      <ion-item-options side="right">
        <button ion-button primary  (click)="editProduct(product)">Edit</button>
        <button ion-button color="danger" (click)="deleteProduct(product)"><ion-icon name="trash"></ion-icon>Delete</button>
      </ion-item-options>
    </ion-item-sliding>
</ion-list>
</ion-content> 
